.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 20px;
    color: white;
    text-decoration: none;
}

.dialogsItem .active {
    color: gold;
}

.messages {
    padding: 20px;
}

.messages .message {
    color: white;
}